<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bank.mapper.TransactionMapper">

    <select id="findTransactions"
            parameterType="com.example.bank.dto.transaction.TransactionSearchCondition"
            resultType="com.example.bank.dto.transaction.TransactionResponse">

        SELECT
            id                  AS transactionId,
            type                AS transactionType,
            amount,
            balance_after       AS balanceAfter,
            opponent_account    AS opponentAccount,
            opponent_name       AS opponentName,
            description,
            created_at          AS createdAt
        FROM transaction_history
        WHERE account_id = #{accountId}

        <if test="transactionType != null">
            AND type = #{transactionType}
        </if>

        <if test="startDateTime != null">
            AND created_at &gt;= #{startDateTime}
        </if>

        <if test="endDateTime != null">
            AND created_at $lt;= #{endDateTime}
        </if>

        ORDER BY created_at DESC

        LIMIT #{limit}
        OFFSET #{offset}

    </select>

    <select id="findRecentTargets"
            parameterType="long"
            resultType="com.example.bank.dto.transaction.RecentTargetResponse">
        SELECT *
        FROM (
            SELECT DISTINCT ON (th.opponent_account)
                th.opponent_account AS opponentAccount,
                m.name              AS opponentName,
                a.status            AS accountStatus,
                th.created_at       AS lastTransferredAt
            FROM transaction_history th
            JOIN account a
            ON th.opponent_account = a.account_number
            JOIN member m
            ON m.id = a.member_id
            WHERE th.account_id = #{accountId}
            ORDER BY
                th.opponent_account,
                th.created_at DESC
        ) recent_targets
        ORDER BY lastTransferredAt DESC
        LIMIT 5;

    </select>
</mapper>